<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="ACRCloud" type="System.Configuration.NameValueSectionHandler" />
        <section name="Discogs" type="System.Configuration.NameValueSectionHandler" />
    </configSections>

    <ACRCloud>
        <add key="host" value="identify-eu-west-1.acrcloud.com"/>
        <add key="access_key" value="0d43f143a961cc2c8a5016753ff0df5f"/>
        <add key="access_secret" value="dFbCEjk6lW1VH3jzjXhlmq9Cqzh4YY4HdlB7Szfc"/>
        <add key="timeout" value="10"/>
    </ACRCloud>

    <Discogs>
        <add key="key" value="ilBDjrUwapsSaiCkwhLi" />
        <add key="secret" value="WPypJGiNxDjZXkVQWvNvGMNgLUxwdOFj"/>
        <add key="userAgent" value="Autotag/0.1"/>
    </Discogs>
</configuration>